In [716]:
import pandas as pd

In [717]:
df_1 = pd.read_json('/Users/muzafarov/Desktop/MyEducation/DataEngineering-Course/Module 2. For annotators /annotator1.json', orient='index')
df_2 = pd.read_json('/Users/muzafarov/Desktop/MyEducation/DataEngineering-Course/Module 2. For annotators /annotator2.json', orient='index')

df_1

,filename,size,regions,file_attributes
110.jpg89291,110.jpg,89291,"[{'shape_attributes': {'name': 'rect', 'x': 35...",{}
114.jpg92177,114.jpg,92177,"[{'shape_attributes': {'name': 'rect', 'x': 49...",{}
118.jpg87064,118.jpg,87064,"[{'shape_attributes': {'name': 'rect', 'x': 34...",{}
96.jpg83502,96.jpg,83502,"[{'shape_attributes': {'name': 'rect', 'x': 31...",{}
104.jpg77403,104.jpg,77403,"[{'shape_attributes': {'name': 'rect', 'x': 52...",{}
105.jpg102759,105.jpg,102759,"[{'shape_attributes': {'name': 'rect', 'x': 23...",{}
83.jpg100365,83.jpg,100365,"[{'shape_attributes': {'name': 'rect', 'x': 48...",{}
87.jpg101151,87.jpg,101151,"[{'shape_attributes': {'name': 'rect', 'x': 45...",{}
90.jpg16755,90.jpg,16755,"[{'shape_attributes': {'name': 'rect', 'x': 21...",{}
92.jpg17382,92.jpg,17382,"[{'shape_attributes': {'name': 'rect', 'x': 12...",{}
66.jpg83658,66.jpg,83658,"[{'shape_attributes': {'name': 'rect', 'x': 45...",{}
68.jpg103152,68.jpg,103152,"[{'shape_attributes': {'name': 'rect', 'x': 51...",{}
71.jpg97572,71.jpg,97572,"[{'shape_attributes': {'name': 'rect', 'x': 33...",{}
76.jpg85625,76.jpg,85625,"[{'shape_attributes': {'name': 'rect', 'x': 50...",{}
78.jpg91348,78.jpg,91348,"[{'shape_attributes': {'name': 'rect', 'x': 45...",{}
81.jpg16074,81.jpg,16074,"[{'shape_attributes': {'name': 'rect', 'x': 21...",{}
51.jpg93603,51.jpg,93603,"[{'shape_attributes': {'name': 'rect', 'x': 52...",{}
54.jpg77555,54.jpg,77555,"[{'shape_attributes': {'name': 'rect', 'x': 53...",{}
58.jpg108614,58.jpg,108614,"[{'shape_attributes': {'name': 'rect', 'x': 46...",{}
60.jpg80192,60.jpg,80192,"[{'shape_attributes': {'name': 'rect', 'x': 18...",{}
65.jpg113845,65.jpg,113845,"[{'shape_attributes': {'name': 'rect', 'x': 54...",{}
38.jpg90625,38.jpg,90625,"[{'shape_attributes': {'name': 'rect', 'x': 50...",{}
39.jpg87950,39.jpg,87950,"[{'shape_attributes': {'name': 'rect', 'x': 21...",{}
41.jpg84637,41.jpg,84637,"[{'shape_attributes': {'name': 'rect', 'x': 44...",{}
46.jpg84995,46.jpg,84995,"[{'shape_attributes': {'name': 'rect', 'x': 52...",{}
50.jpg70356,50.jpg,70356,"[{'shape_attributes': {'name': 'rect', 'x': 42...",{}
21.jpg97997,21.jpg,97997,"[{'shape_attributes': {'name': 'rect', 'x': 53...",{}
22.jpg88218,22.jpg,88218,"[{'shape_attributes': {'name': 'rect', 'x': 50...",{}
27.jpg71559,27.jpg,71559,"[{'shape_attributes': {'name': 'rect', 'x': 49...",{}
32.jpg105654,32.jpg,105654,"[{'shape_attributes': {'name': 'rect', 'x': 25...",{}
33.jpg96587,33.jpg,96587,"[{'shape_attributes': {'name': 'rect', 'x': 53...",{}
34.jpg79956,34.jpg,79956,"[{'shape_attributes': {'name': 'rect', 'x': 39...",{}
35.jpg99737,35.jpg,99737,"[{'shape_attributes': {'name': 'rect', 'x': 49...",{}
11.jpg101193,11.jpg,101193,"[{'shape_attributes': {'name': 'rect', 'x': 53...",{}
12.jpg107165,12.jpg,107165,"[{'shape_attributes': {'name': 'rect', 'x': 52...",{}
13.jpg91850,13.jpg,91850,"[{'shape_attributes': {'name': 'rect', 'x': 50...",{}
15.jpg86445,15.jpg,86445,"[{'shape_attributes': {'name': 'rect', 'x': 50...",{}
16.jpg74435,16.jpg,74435,"[{'shape_attributes': {'name': 'rect', 'x': 43...",{}
17.jpg97927,17.jpg,97927,"[{'shape_attributes': {'name': 'rect', 'x': 52...",{}
18.jpg80833,18.jpg,80833,"[{'shape_attributes': {'name': 'rect', 'x': 44...",{}
20.jpg74534,20.jpg,74534,"[{'shape_attributes': {'name': 'rect', 'x': 50...",{}
1.jpg84524,1.jpg,84524,"[{'shape_attributes': {'name': 'rect', 'x': 53...",{}
2.jpg105317,2.jpg,105317,"[{'shape_attributes': {'name': 'rect', 'x': 52...",{}
3.jpg87432,3.jpg,87432,"[{'shape_attributes': {'name': 'rect', 'x': 43...",{}
6.jpg95453,6.jpg,95453,"[{'shape_attributes': {'name': 'rect', 'x': 53...",{}

In [718]:
df_1['regions'][0]

/var/folders/yj/nhkf3nv505d5kh0dsk42f3ym0000gn/T/ipykernel_93216/1383724082.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_1['regions'][0]

[{'shape_attributes': {'name': 'rect',
   'x': 357,
   'y': 3,
   'width': 104,
   'height': 34},
  'region_attributes': {'categories': '5_7_2'}}]

In [719]:
df_1['shape_attributes'] = df_1['regions'].apply(lambda x: x[0]['shape_attributes'])
df_1['region_attributes'] = df_1['regions'].apply(lambda x: x[0]['region_attributes'])

df_2['shape_attributes'] = df_2['regions'].apply(lambda x: x[0]['shape_attributes'])
df_2['region_attributes'] = df_2['regions'].apply(lambda x: x[0]['region_attributes'])

In [720]:
df_1['name'] = df_1['shape_attributes'].apply(lambda x: x.get('name'))
df_1['x'] = df_1['shape_attributes'].apply(lambda x: x.get('x'))
df_1['y'] = df_1['shape_attributes'].apply(lambda x: x.get('y'))
df_1['width'] = df_1['shape_attributes'].apply(lambda x: x.get('width'))
df_1['height'] = df_1['shape_attributes'].apply(lambda x: x.get('height'))

df_1['categories'] = df_1['region_attributes'].apply(lambda x: x.get('categories'))

df_2['name'] = df_2['shape_attributes'].apply(lambda x: x.get('name'))
df_2['x'] = df_2['shape_attributes'].apply(lambda x: x.get('x'))
df_2['y'] = df_2['shape_attributes'].apply(lambda x: x.get('y'))
df_2['width'] = df_2['shape_attributes'].apply(lambda x: x.get('width'))
df_2['height'] = df_2['shape_attributes'].apply(lambda x: x.get('height'))

df_2['categories'] = df_2['region_attributes'].apply(lambda x: x.get('categories '))

In [721]:
df_1.head(5)

,filename,size,regions,file_attributes,shape_attributes,region_attributes,name,x,y,width,height,categories
110.jpg89291,110.jpg,89291,"[{'shape_attributes': {'name': 'rect', 'x': 35...",{},"{'name': 'rect', 'x': 357, 'y': 3, 'width': 10...",{'categories': '5_7_2'},rect,357,3,104,34,5_7_2
114.jpg92177,114.jpg,92177,"[{'shape_attributes': {'name': 'rect', 'x': 49...",{},"{'name': 'rect', 'x': 497, 'y': 58, 'width': 7...",{'categories': '3_28 '},rect,497,58,71,64,3_28\n
118.jpg87064,118.jpg,87064,"[{'shape_attributes': {'name': 'rect', 'x': 34...",{},"{'name': 'rect', 'x': 348, 'y': 13, 'width': 5...",{'categories': '5_16'},rect,348,13,54,68,5_16
96.jpg83502,96.jpg,83502,"[{'shape_attributes': {'name': 'rect', 'x': 31...",{},"{'name': 'rect', 'x': 318, 'y': 29, 'width': 6...",{'categories': '6_3_1'},rect,318,29,60,58,6_3_1
104.jpg77403,104.jpg,77403,"[{'shape_attributes': {'name': 'rect', 'x': 52...",{},"{'name': 'rect', 'x': 520, 'y': 15, 'width': 7...",{'categories': '5_10'},rect,520,15,73,71,5_10

In [723]:
df_1 = pd.DataFrame(data=df_1)
df_1 = df_1.drop(columns=['regions','file_attributes','shape_attributes', 'region_attributes', 'size'])

df_2 = pd.DataFrame(data=df_2)
df_2 = df_2.drop(columns=['regions','file_attributes','shape_attributes', 'region_attributes', 'size'])

In [724]:
df_1 = df_1.sort_values (by = ['filename'], key=lambda x: x.str.strip('.jpg').astype(int))
df_2 = df_2.sort_values (by = ['filename'], key=lambda x: x.str.strip('.jpg').astype(int))

In [725]:
df_1.head(5)

             filename  name    x   y  width  height categories
1.jpg84524      1.jpg  rect  531   4     70      64     1_11_2
2.jpg105317     2.jpg  rect  527   2     73      69        2_7
3.jpg87432      3.jpg  rect  436   2     90      67        2_5
6.jpg95453      6.jpg  rect  539   2     58      53     3_18_2
11.jpg101193   11.jpg  rect  530  35     73      70      4_1_4

In [726]:
df_2.head(5)

             filename  name    x   y  width  height categories
1.jpg84524      1.jpg  rect  525   2     76      65     1_11_2
2.jpg105317     2.jpg  rect  533   3     66      65        2_7
3.jpg87432      3.jpg  rect  449   6     66      57        2_5
6.jpg95453      6.jpg  rect  534   0     69      61     3_18_2
11.jpg101193   11.jpg  rect  539  37     62      63      4_1_4

In [727]:
df_1['categories'].isin(df_2['categories']).value_counts()

categories
True     43
False     2
Name: count, dtype: int64

In [728]:
df = df_1[df_1['categories'].isin(df_2['categories'])]
len(df)

43