In [4]:
import numpy as np 
import pandas as pd 
import os

In [5]:
images = os.listdir('/Users/muzafarov/Desktop/Datasets/RTS/rtsd-frames/rtsd-frames')
print(images[:10])

['autosave23_10_2012_10_49_21_1.jpg', 'autosave23_10_2012_14_37_01_2.jpg', 'autosave10_10_2012_08_56_20_2.jpg', 'autosave10_10_2012_07_46_04_1.jpg', 'autosave21_01_2013_10_10_47_2.jpg', 'autosave21_01_2013_11_39_34_0.jpg', 'autosave01_02_2012_11_26_17.jpg', 'autosave09_10_2012_09_30_25_1.jpg', 'autosave09_10_2012_13_25_34_3.jpg', 'autosave09_10_2012_12_31_48_0.jpg']

In [6]:
json = pd.read_json('/Users/muzafarov/Desktop/Datasets/RTS/train_anno.json', orient='index')

In [7]:
json

,0,1,2,3,4,5,6,7,8,9,...,95482,95483,95484,95485,95486,95487,95488,95489,95490,95491
images,"{'id': 0, 'width': 1280, 'height': 720, 'file_...","{'id': 1, 'width': 1280, 'height': 720, 'file_...","{'id': 2, 'width': 1280, 'height': 720, 'file_...","{'id': 3, 'width': 1280, 'height': 720, 'file_...","{'id': 4, 'width': 1280, 'height': 720, 'file_...","{'id': 5, 'width': 1280, 'height': 720, 'file_...","{'id': 6, 'width': 1280, 'height': 720, 'file_...","{'id': 7, 'width': 1280, 'height': 720, 'file_...","{'id': 8, 'width': 1280, 'height': 720, 'file_...","{'id': 9, 'width': 1280, 'height': 720, 'file_...",...,None,None,None,None,None,None,None,None,None,None
annotations,"{'id': 0, 'image_id': 0, 'category_id': 1, 'ar...","{'id': 1, 'image_id': 1, 'category_id': 1, 'ar...","{'id': 2, 'image_id': 2, 'category_id': 1, 'ar...","{'id': 3, 'image_id': 3, 'category_id': 1, 'ar...","{'id': 4, 'image_id': 3, 'category_id': 2, 'ar...","{'id': 5, 'image_id': 4, 'category_id': 1, 'ar...","{'id': 6, 'image_id': 4, 'category_id': 2, 'ar...","{'id': 7, 'image_id': 5, 'category_id': 2, 'ar...","{'id': 8, 'image_id': 6, 'category_id': 2, 'ar...","{'id': 9, 'image_id': 7, 'category_id': 3, 'ar...",...,"{'id': 104348, 'image_id': 59178, 'category_id...","{'id': 104349, 'image_id': 59179, 'category_id...","{'id': 104350, 'image_id': 59180, 'category_id...","{'id': 104351, 'image_id': 59181, 'category_id...","{'id': 104352, 'image_id': 59182, 'category_id...","{'id': 104353, 'image_id': 59183, 'category_id...","{'id': 104354, 'image_id': 59184, 'category_id...","{'id': 104355, 'image_id': 59185, 'category_id...","{'id': 104356, 'image_id': 59186, 'category_id...","{'id': 104357, 'image_id': 59187, 'category_id..."
categories,"{'id': 1, 'name': '2_1'}","{'id': 2, 'name': '1_23'}","{'id': 3, 'name': '1_17'}","{'id': 4, 'name': '3_24'}","{'id': 5, 'name': '8_2_1'}","{'id': 6, 'name': '5_20'}","{'id': 7, 'name': '5_19_1'}","{'id': 8, 'name': '5_16'}","{'id': 9, 'name': '3_25'}","{'id': 10, 'name': '6_16'}",...,None,None,None,None,None,None,None,None,None,None

In [18]:
annotations_json = json.loc['annotations']
annotations_json

0        {'id': 0, 'image_id': 0, 'category_id': 1, 'ar...
1        {'id': 1, 'image_id': 1, 'category_id': 1, 'ar...
2        {'id': 2, 'image_id': 2, 'category_id': 1, 'ar...
3        {'id': 3, 'image_id': 3, 'category_id': 1, 'ar...
4        {'id': 4, 'image_id': 3, 'category_id': 2, 'ar...
                               ...
95487    {'id': 104353, 'image_id': 59183, 'category_id...
95488    {'id': 104354, 'image_id': 59184, 'category_id...
95489    {'id': 104355, 'image_id': 59185, 'category_id...
95490    {'id': 104356, 'image_id': 59186, 'category_id...
95491    {'id': 104357, 'image_id': 59187, 'category_id...
Name: annotations, Length: 95492, dtype: object

In [24]:
annotations_json[0]

{'id': 0,
 'image_id': 0,
 'category_id': 1,
 'area': 324,
 'bbox': [649, 376, 18, 18],
 'iscrowd': 0}

In [46]:
annotations_json[0]['bbox'][0]

649

In [22]:
len(annotations_json)

95492

In [58]:
annotations_json[1]['area']

420

In [61]:
df = pd.DataFrame()
# for i in range(len(annotations_json)):
df['id'] = annotations_json[0]['id']
df['image_id'] = annotations_json[0]['image_id']
df['category_id'] = annotations_json[0]['category_id']
df['area'] = annotations_json[0]['area']
df['bbox'] = annotations_json[0]['bbox']
df['iscrowd'] = annotations_json[0]['iscrowd']
df
# df.append(df2, ignore_index = True )

   id  image_id  category_id  area  bbox  iscrowd
0 NaN       NaN          NaN   NaN   649        0
1 NaN       NaN          NaN   NaN   376        0
2 NaN       NaN          NaN   NaN    18        0
3 NaN       NaN          NaN   NaN    18        0

In [30]:
df

       id  image_id  category_id  area  bbox  iscrowd
0  104357     59187          116  1196   703        0
1  104357     59187          116  1196   370        0
2  104357     59187          116  1196    46        0
3  104357     59187          116  1196    26        0

In [49]:
dict = json.loads(json)
df2 = pd.json_normalize(dict['annotations']) 
print("After converting JSON data to DataFrame:\n", df2)

AttributeError: 'DataFrame' object has no attribute 'loads'